body{
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}

.scroll{
	height:360px;
  	overflow-y:scroll;
  	width:100%;
}

.scroll2{
	height:320px;
  	overflow-y:scroll;
  	width:100%;
}

